 .caixas {
     background-color: #8dd6d6;
     padding: 20px;
     border-radius: 4px;
     margin-top: 20px;
     margin-bottom: 20px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

 }

 .caixas-warning {
     background-color: #ffa500;
     display: none;
 }

 .caixas-error {
     background-color: #fc2525;
     color: white;
     display: none;
 }

 .caixas-sucess {
     background-color: #53f853;
     display: none;
 }

 .botoes {
     display: block;
     padding: 10px;
     padding-bottom: 11px;
     background-color: #8dd6d6;
 }

 #num,
 #verificar {
    display: inline-block;
 }

div {
    display: inline-block;
    background-color: #fc2525;
}
#recarregar {
display: none;
}