 .caixas {
     background-color: rgb(141, 214, 214);
     padding: 20px;
     border-radius: 4px;
     margin-top: 20px;
     margin-bottom: 20px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

 }

 .caixas-warning {
     background-color: rgb(255, 165, 0);
     display: none;
 }

 .caixas-error {
     background-color: rgb(255, 0, 0);
     display: none;
 }

 .caixas-sucess {
     background-color: rgb(0, 255, 0);
     display: none;
 }